.login {
  display: grid;
  align-content: center;
  justify-items: center;
  height: 60vh;


  form {
    background-color: var(--secondary-color);
    padding: 1vw;
    border-radius: 0.4vw;
    height: 24vw;
    width: 30vw;
    display: grid;
    gap: 1vw;

    div {
      display: grid;
      height: 5vw;
      margin: 0.5vw 1vw;
      gap: 0.5vw;

      input {
        border: none;
        height: 3.5vw;
        border-radius: 0.5vw;
        padding: 0 1vw;
        font-size: 1.12vw;

      }
    }

    button[type=submit] {
      border: none;
      width: 100%;
      background-color: var(--primary-color);
      border-radius: 0.2vw 0.2vw 0.5vw 0.5vw;
      color: white;
      font-weight: 600;

      &:hover {
        cursor: pointer;
        transform: scale(1.01);
      }
    }
  }
}