@import url("style/login.scss");
@import url("style/navBar.scss");
@import url("style/sideBar.scss");
@import url("style/home.scss");
@import url("style/pertinentOffers.scss");

:root {
  --primary-color: #1c2754;
  --secondary-color: #e2e3e9;

  --white-space: #ffffff;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.12vw;
  font-weight: 600;

}

main {
  display: flex;
}

button {
  font-size: 1.12vw;

}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white-space);
}

nav {
  background-color: var(--primary-color);
  height: 6vw;
  width: 100%;
  display: flex;
}

nav div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -10vw;
}

nav img {
  height: auto;
  width: 7vw;
}

nav img:hover {
  transform: scale(1.05);
}

nav a {
  color: var(--secondary-color);
  margin: 0 2vw;
}

nav a:hover {
  transform: scale(1.05);

}

main {
  width: 96vw;
  height: auto;
}

a {
  font-weight: 700;
  text-decoration: none;
}